*{
box-sizing:border-box;
}

body{
font-family:'Segoe UI',sans-serif;
margin:0;
padding:15px;

background-image:url("bg.png");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
background-attachment:fixed;
}

.title{
text-align:center;
color:rgb(0, 255, 242);
font-size:50px;
font-weight:bold;
margin-bottom:20px;
}

.container{
width:100%;
max-width:900px;
margin:auto;

background:rgba(255,255,255,0.6);

padding:20px;
border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,0.25);
margin-bottom:20px;
}

.form-group{
display:flex;
flex-wrap:wrap;
gap:10px;
justify-content:center;
}

input,select{
padding:12px;
border-radius:8px;
border:1px solid #ccc;
font-size:14px;
width:200px;
}

button{
padding:12px 18px;
border:none;
border-radius:8px;
cursor:pointer;
background:linear-gradient(45deg,#36d1dc,#5b86e5);
color:white;
font-weight:bold;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

th{
background:linear-gradient(45deg,#36d1dc,#5b86e5);
color:white;
padding:10px;
}

td{
padding:10px;
background:#f9f9f9;
}

tr:nth-child(even) td{
background:#eef5ff;
}

.table-wrapper{
overflow-x:auto;
}

#reader{
width:100%;
max-width:300px;
margin:auto;
}

#qrcode{
margin-top:15px;
display:flex;
justify-content:center;
}

@media (max-width:600px){

input,select{
width:100%;
}

button{
width:100%;
}

.form-group{
flex-direction:column;
}

}